.loading-icon-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    margin-left: -2rem;
  }
  
  .loading-icon__circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #2ba7dc;
    margin-right: 8px;
    animation: spin 1s ease-in-out infinite;
  }
  
  .loading-icon__circle--first {
    animation-delay: 0.1s;
    background-color: #ffc107;
  
  }
  
  .loading-icon__circle--second {
    animation-delay: 0.2s;
  }
  
  .loading-icon__circle--third {
    animation-delay: 0.3s;
    background-color: #ffc107;
  }
  .loading-icon__circle--fourth {
    animation-delay: 0.3s;
  }
  
  @keyframes spin {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(130%);
    }
  }
  

  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }